<div class="container row dashboard-container">
    <div class="card-header dashboard-post">
       <h4 class="card-title post-title"><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
        <div class="card-body post-body">
        <p class="card-body post-content">{{post_body}}</p>
        <p class="card-text post-author">Posted on {{format_date date_created}}</p>
        </div>
    </div>
</div>