<h2>Your Posts</h2>

<button type="submit" class="btn new-post-button"><a class="link" href="/post">New Post</a></button>
<section>
{{#if posts.length}}

  
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}


{{/if}}
</section>