<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card my-5">
        <form class="card-body cardbody-color p-lg-5" id="edit-post">
          <div class="text-center">
            <h2 class="title pb-4" style="color:black">Edit Post</h2>
          </div>
          <div class="mb-3">
            <label for="post-title" class="form-label" style="font-family: 'Lato'">Title</label>
            <input type="text" id="post-title" name="post-title" style="font-family:'Montserrat'" post-id={{post.id}}
              value="{{post.title}}" class="form-input form-control">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label" style="font-family: 'Lato'">Content</label>
            <input type="text" id="content" name="content" style="font-family:'Montserrat'" value="{{post.post_body}}"
              class="form-input form-control">
          </div>
          <button type="submit" class="btn text-primary" style="font-family: 'Lato'">Update Post</button>
          <button type="button" class="delete-post-btn btn text-danger" style="font-family: 'Lato'">Delete Post</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="/js/editPost.js"></script>

<script src="/js/deletePost.js"></script>